<div class="container">
  <div class="card-deck text-center" style="padding-top: 30px">

    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="card mb-4 project">
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/images/project_images/Porfolio.jpg" alt="">
          <div class="overlay">
            <h2>Portfolio</h2>
            <a class="info" href="https://github.com/muppallaraviteja/Portfolio" target="_blank">link here</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="card mb-4 project">
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/images/project_images/Cloud_cli.jpg" alt="">
          <div class="overlay">
            <h2>Cloud Management</h2>
            <a class="info" href="https://github.com/muppallaraviteja/Cloud_CLI" target="_blank">link here</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="card mb-4 project">
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/images/project_images/Redis.jpg" alt="">
          <div class="overlay">
            <h2>Chat Room</h2>
            <a class="info" href="https://github.com/muppallaraviteja/Chat_Room" target="_blank">link here</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="card mb-4 project">
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/images/project_images/Angular.jpg" alt="">
          <div class="overlay">
            <h2>Tour Of Heroes</h2>
            <a class="info" href="https://github.com/muppallaraviteja/AngularExample" target="_blank">link here</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="card mb-4 project">
        <div class="hovereffect">
          <img class="img-responsive" src="../../assets/images/project_images/Leetcode.jpg" alt="">
          <div class="overlay">
            <h2>Leet Code</h2>
            <a class="info" href="https://github.com/muppallaraviteja/LeetCode" target="_blank">link here</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
