<div id="page-container">
  <div id="content-wrap">
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="https://www.linkedin.com/in/ravi-teja-muppalla-49734991" target="_blank" >
          <img src="../assets/images/ravi.jpg" width="50" height="60" alt="Profile">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-5">

            <li class="nav-item " >
              <a class="nav-link" routerLink="/home">About Me</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/skills">Skills</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/projects">My Projects</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="../assets/Resume/Resume.pdf" target="_blank">Resume</a>
            </li>

         <!--   <li class="nav-item">
              <a class="nav-link" routerLink="/contact" >Contact Info</a>
            </li>-->
          </ul>
        </div>
      </nav>
  </div>

  <router-outlet></router-outlet>

  <footer id="lab_social_icon_footer" >
    <!-- Include Font Awesome Stylesheet in Header -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
      <div class="text-center center-block">
        <a href="https://github.com/muppallaraviteja" target="_blank"><i id="social-gt" class="fa fa-github-square fa-3x social"></i></a>
        <a href="https://www.linkedin.com/in/ravi-teja-muppalla-49734991" target="_blank"><i id="social-ln" class="fa fa-linkedin-square fa-3x social"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100002409441787" TARGET="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="mailto:ravshanth_2003@tamu.edu"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
    </div>
    <a>&#169;Developed by Ravi Teja Muppalla</a>
  </footer>
</div>

