

<h1>Brief Introduction</h1>
<div class="section">


    <img src="../../assets/images/ravi.jpg">
       <em>
         <p>Hello..!!!I am from Hyderabad, India.I am a technology evangelist and am considered to be an IT aficionado by my colleagues.
           I am currently pursuing my Masters in<strong> Management Information Systems from Mays Business School, Texas A&M University</strong>.
           I am graduating on May, 2019 and <strong>actively looking for full time opportunities</strong>.
         </p>
         <p>
           I have a work experience of 2 years back in India with <STRONG> Infosys</STRONG> where I worked in the Support and Java Development team
           for an Australian Telecom giant.I spearheaded various initiatives which led to an increase in efficiency and a reduction
           in processing time for the firm, that led immense recognition.Last summer, I interned with <strong>Red Hat,Inc</strong> as a Business Process
           Management Intern and was involved in the development internal Employee management application. I was specifically
           involved with the creation of REST APIs' to expose the history data to the application. I always enjoy challenging
           myself to write flexible and maintainable codes that helps achieve optimum results in the least of time and increase throughput
         </p>
         <p>
         I have always believed in the importance of positive contribution of giving back to the society.I have worked with various
         NGOs  in India for the education of underprivileged students.Now coming to my personal hobbies, I love reading books. I
         have read more than 1000 books in fiction, Sci-fi and Autobiography categories. I also have huge interest in sports and
         love watching Premier league Soccer matches(I am a Manchester United Fan). I love playing sports like Soccer (naturally..!!!), swimming and badminton
         </p>
       </em>
</div>
