* {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

img{
  width: 20%;
  height: 10%;
  float: right;
  padding: 20px;
}


.section {

  background-color:#E4E1CA ;
  float:right  ;
}


.goldenbay{
  float:right;
  margin-top:5%;
  margin-left: 5%;
  width: 50%;
}



.title a{
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
}
.aside a {
  display :block;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem;
  text-align: left;

  font-size: 1.2rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
}

.aside a:first-of-type {
  margin-top: 2rem;
}

.aside a:hover{
  background-color: #bf6500;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0;
}

.figcaptio{
  margin-left: 6rem;
}
.caption {
  margin-left: 4rem;
}

.section p {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-align: justify;
}

